$black: #040522;
$blue: #171fe5;
$orange: #e56117;
$white: #fff;
$brand-bg: #f8fcfd;
$red: #fd4848;
$header-bg: linear-gradient(
    255.02deg,
    rgba(129, 194, 212, 0.56) 5.93%,
    rgba(138, 199, 217, 0.56) 23.18%,
    rgba(155, 207, 224, 0.72) 43.47%,
    rgba(135, 198, 215, 0.49) 58.21%,
    rgba(102, 178, 201, 0.57) 73.36%,
    rgba(98, 177, 198, 0.51) 92.76%
);

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    color: $black;
    font-size: 16px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1180px;
    padding: 0px 15px;
    margin: 0 auto;
}
.header-container {
    max-width: 1250px;
    padding: 0px 15px;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
}
.text {
    font-weight: 400;
    line-height: 160%;
}
.inner{
    margin-bottom: 70px;
}
.inner-text {
    font-weight: 600;
    font-size: 22px;
    color:$orange;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
