@import "global";
@import "vars";
*,
::after,
::before {
    box-sizing: border-box;
}
// font-family: 'Abel', sans-serif;
// font-family: 'Lexend', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
.header {
    padding-bottom: 20px;
    background: $header-bg;
    &-top {
        padding: 40px 0px;
        @include flex;
    }

    &-menu {
        display: flex;
        align-items: center;
    }
    &-lists {
        display: flex;
    }
    &-list + &-list {
        margin-left: 40px;
    }
    &-list:last-child {
        margin-right: 70px;
    }
    &__link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        opacity: 0.7;
        color: $black;
        transition: all 0.3s;
    }
    &__link:hover {
        opacity: unset;
    }
    &__link--active {
        opacity: unset;
    }
    &-search {
        position: relative;
        &__input {
            display: block;
            height: 49px;
            width: 273px;
            padding: 0px 175px 0px 44px;
            background: $white;
            border-radius: 69px;
            border: none;
            outline: none;
        }
        &__loop,
        &__cart,
        &__number {
            position: absolute;
            top: 19px;
        }
        &__loop {
            left: 20px;
        }
        &__cart {
            right: 20px;
        }
        &__number {
            display: block;
            top: 10px;
            right: 12px;
            text-align: center;
            font-weight: 500;
            color: $white;
            background-color: $red;
            font-size: 12px;
            width: 15px;
            height: 15px;
            border-radius: 7.5px;
        }
    }
    &-container {
        @include flex;
    }
    &-content {
        padding-left: 40px;
        &__intro {
            color: $blue;
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
        }
        &__title {
            font-size: 61px;
            max-width: 475px;
        }
        &__text {
            margin-bottom: 40px;
        }
    }
    &-bth {
        padding: 16px 65px 17px 30px;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        font-family: "Roboto", sans-serif;
        display: inline-block;
        background-color: $orange;
        border-radius: 39px;
        transition: all 0.3s;
        position: relative;
    }
    &-bth::before {
        content: url(../images/arrow.svg);
        position: absolute;
        right: 14px;
    }
    &-bth:hover {
        color: $black;
    }
    &-burger{
        display: none;
    }
}
.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    /*background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
    z-index: 1;
}
#active:checked ~ .wrapper {
    /*left: 0;*/
    right: 0;
}
.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
    transform: translateY(-8px);
}
.menu-btn:after {
    transform: translateY(8px);
}

.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
    transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}
#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}
.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}
.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
    transform: scaleY(1);
}
.wrapper ul li a:hover {
    color: #1a73e8;
}
input[type="checkbox"] {
    display: none;
}
#active:checked ~ .wrapper ul li a {
    opacity: 1;
}
.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
    transition-delay: 0.6s;
    transform: translateX(-100px);
}
.about {
    padding: 70px 0px 80px;
    &__image {
        width: 362px;
    }
}
.arrival {
    width: 100%;
    padding: 60px 0px;
    &-inner {
        @include flex;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    &__image {
        width: 362px;
    }
    &__image:nth-child(1) {
        grid-row: span 2;
    }
}
.products {
    padding: 60px 0px;
    &__title,
    &__text {
        text-align: center;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        margin: 0 auto;
        max-width: 664px;
        opacity: 0.7;
        margin-bottom: 70px;
    }
    &-image {
        height: 500px;
        width: 320px;
    }
}
.speciality {
    padding: 60px 0px;
    &__title,
    &__text {
        text-align: center;
    }
    &__title {
        margin: 0;
    }
    &__text {
        opacity: 0.7;
        margin-bottom: 70px;
    }
    &-inner {
        @include flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    &-item {
        background: #ffffff;
        padding: 30px 42px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 362px;
        &__image {
            margin: 0 auto;
            position: relative;
            z-index: 2;
            ::after {
                content: "";
                position: absolute;
                background: #171fe5;
                opacity: 0.1;
                border-radius: 10px;
            }
        }
        &__title {
            text-align: center;
            font-size: 22px;
            margin-bottom: 10px;
        }
        &__text {
            opacity: 0.7;
            max-width: 302px;
            text-align: center;
            margin: 0 auto;
        }
    }
}
.brand {
    padding: 60px 0px;
    &-intro {
        @include flex;
    }
    &-inner {
        padding: 75px 0px;
        @include flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }
    &-bg {
        background-color: $brand-bg;
    }
}
.blog {
    padding: 60px 0px 120px;
    &-inner {
        @include flex;
    }
    &__text {
        font-size: 16px;
        opacity: 0.7;
        max-width: 386px;
    }
    &-content {
        @include flex;
        &__item {
            width: 362px;
            box-shadow: 0px 4px 8px rgba(4, 5, 34, 0.05);
            border-radius: 0px 0px 10px 10px;
        }
        &__wrap {
            padding: 25px 29px 25px 25px;
        }
        &__title {
            font-weight: 600;
            font-size: 22px;
            margin: 0;
        }
        &__text {
            opacity: 0.7;
        }
        &__inner {
            @include flex;
        }
        &__link,
        &__date {
            font-size: 16px;
            font-weight: 500;
        }
        &__link {
            color: $orange;
        }
    }
}
.footer {
    padding: 70px 0px;
    background-color: $black;
    &-inner {
        display: grid;
        grid-template-columns: 260px 113px 103px 193px;
        column-gap: 160px;
    }
    &-logo {
        margin-top: 45px;
        margin-bottom: 25px;
    }
    &-links {
        padding: 0;
        display: flex;
    }
    &-media + &-media {
        margin-left: 15px;
    }
    &-text {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        opacity: 0.7;
        max-width: 260px;
        margin-bottom: 30px;
    }
    &-lists {
        padding: 0;
    }
    &-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $white;
        font-family: "Poppins", sans-serif;
        margin-bottom: 25px;
    }
    &-list + &-list {
        padding-top: 15px;
    }
    &-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: $white;
        font-family: "Poppins", sans-serif;
        opacity: 0.7;
    }
    &-link:hover {
        color: $red;
    }

    &__number,
    &__email,
    &__adress {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        text-transform: capitalize;
        color: #ffffff;
        opacity: 0.7;
    }
}
@import "media";
